*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
    padding: 10px;
}

.btn-container{
    display: flex;
    gap: 50px;
}

.btn-container button{
    color: white;
    background-color: rgb(77, 8, 141);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.score{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}